@model HomepageNewsItemsModel
      
<!-- Plant-based Program Promotion start -->
        <section class="bg-transparent-white" 
                 style="background-position-x: right; background-blend-mode: overlay; border-top: solid 1px #232322 !important;" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-8 text-darker text-center">
                    <h2><b>Plant-based Blueprint</b></h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-sm-12 col-md-10 col-lg-4 text-darker text-center">
                        <img src="../Themes/MukeraCleanTheme/Content/images/Plant-based-Program-package-header.png" alt="DR-Barry-John-Toole-Planted-Based-Blueprint-Program" />
                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-8 text-darker text-left">
                        <p>
                            The Planted-Based Blueprint is a comprehensive and systematic program or package that empowers you to understand, persue and enjoy plant-based nutrition, lifestyle and vitality. The Blueprint is the product of deacads-long research, study and personal passion to answer the Why, What and How of plant-based life style.  
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 text-darker text-right">
                        <hr/>
                         <a href="@Url.RouteUrl("NutritionProgram")" class="btn btn-green btn-rounded px-5">Learn More</a>
                     </div>
                </div>
            </div>
        </div>
    </section>
<!-- Plant-based Program Promotion end -->


<!-- Writing - blog -->
    <section class="bg-green" style="background-position-x: right; " >
        <div class="container">

            <div class="row justify-content-center text-white text-center">                                         
                <div class="col-12 text-center" data-aos="fade-left">     
                    <h2 style="margin-bottom: 0.5em;">
                        <b>Writing</b>                      
                    </h2>
                </div>

                <div class="col-md-5"></div> 
                <div class="col-md-2 header-accent-hr-container" data-aos="fade-right">                   
                    <hr class="header-accent-hr" /> 
                </div> 
                <div class="col-md-5"></div> 

                <div class="col-12 text-center" data-aos="fade-right">     
                    <h4>Discover the benefits of plant-based nutrition, health and lifestyle.</h4>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="masonry row gutter-1" id="writingsList">
                        <li class="col-md-4" data-aos="fade-right">
                            <article class="tile">
                                <div class="tile-image"
                                     style="background-image: url(Themes/MukeraCleanTheme/Content/images/writings-nutrition.png)"></div>
                                <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Food and Diet" })" class="tile-content">
                                    <div class="tile-footer">                                        
                                        <h3 title="Plant-Based Food & Diet">Food and Diet</h3>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="col-md-4" data-aos="fade-down">
                            <article class="tile tile-long">
                                <div class="tile-image" style="background-image:url(Themes/MukeraCleanTheme/Content/images/writings-diet.png)"></div>
                                <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Nutrition" })" class="tile-content">
                                    <div class="tile-footer">                                        
                                        <h3 title="Plant-Based Nutrition">Nutrition</h3>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="col-md-4" data-aos="fade-left">
                            <article class="tile">
                                <div class="tile-image" style="background-image: url(Themes/MukeraCleanTheme/Content/images/writings-aging.png)"></div>
                                <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Health and Wellbeing" })" class="tile-content">
                                    <div class="tile-footer">                                       
                                        <h3 title="Plant-Based Health and Welbeing">Health and Wellbeing</h3>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="col-md-4" data-aos="fade-right">
                            <article class="tile tile-long">
                                <div class="tile-image" style="background-image: url(Themes/MukeraCleanTheme/Content/images/writings-life-style.png)"></div>
                                <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Lifestyle" })" class="tile-content">
                                    <div class="tile-footer">                                   
                                        <h3 title="Plant-Based Life Style">Lifestyle</h3>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="col-md-4" data-aos="fade-up">
                            <article class="tile tile-long">
                                <div class="tile-image" style="background-image: url(Themes/MukeraCleanTheme/Content/images/writings-medical-conditions.png)"></div>
                                <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "For Health Professionals" })" class="tile-content">
                                    <div class="tile-footer">                
                                        <h3 title="Plant-Based For Health Professionals">For Health Professionals</h3>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li class="col-md-4" data-aos="fade-left">
                            <article class="tile">
                                <div class="tile-image" style="background-image: url(Themes/MukeraCleanTheme/Content/images/writings-health.png)"></div>
                                <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Recipes" })" class="tile-content">
                                    <div class="tile-footer">                                 
                                        <h3 title="Plant-Based Recipes" id="">Recipes</h3>
                                    </div>
                                </a>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="col-12 text-center" style="padding:0em;">
                   <div class="boxed bg-lightest p-5 text-dark"  style="border: 1px solid rgb(0 0 0 / 5%);">
                      <div class="row justify-content-between align-items-center text-center" data-aos="fade-right">
                        <div class="col-md-9">
                            <h3 style="color:brown; font-weight:bolder;">Plant-based questions:</h3>
                            <h4 style="font-weight:400;"><span id="typed"></span></h4>
                            <div id="typed-strings" >
                                <p>What are the secrets of healthy ageing?</p>
                                <p>What is the science behind plant-based nutrition and health?</p>
                                <p>How do I eat plant-based on my travels?</p>
                                <p>What should I eat as a plant-based athlete?</p>
                                <p>How do I raise children on a plant-based diet?</p>
                                <p>Is a plant-based lifestyle expensive?</p>
                                <p>What is the best plant-based source of vitamin B12?</p>
                                <p>Should I eat organic or conventional plant foods?</p>                               
                            </div>

                        </div>
                        <div class="col-md-3 mt-1 mt-md-0 text-lg-right" data-aos="fade-left">
                            <a href="/blog" class="btn btn-green btn-rounded px-5">Read More</a>
                        </div>
                      </div>
                    </div>
                </div>

        </div>
    </section>
<!-- / blog -->


<!-- Speaking start -->
        <section class="bg-transparent-white" 
                 style="background-position-x: right; background-blend-mode: overlay; border-top: solid 1px #dededeab !important;" >
        <div class="container">
            <div class="row justify-content-center text-gray-dark text-cente">

                    <div class="col-12 text-center" data-aos="fade-left">     
                        <h2 style="margin-bottom: 0.5em;">
                            <b>Speaking</b>                      
                        </h2>
                    </div>

                    <div class="col-sm-5"></div> 
                    <div class="col-sm-2 text-cente header-accent-hr-container" data-aos="fade-right">                   
                        <hr class="header-accent-hr"/> 
                    </div> 
                    <div class="col-sm-5"></div> 

                    <div class="col-12 text-center" data-aos="fade-right">     
                        <h4>Let's have a conversation – live presentations, podcasts, and interviews</h4> 
                        <p>&nbsp;</p>
                    </div>
           </div>
            
            <div class="row justify-content-center text-center" >

                <!-- item 1 -->
                <div class="col-sm-10 col-md-12 col-lg-5 text-center" data-aos="fade-right"
                        style="margin-bottom: 5px; padding-left:0px; padding-right:0px;">
                    <div class="card card-price-1 rising" >
                        <div class="image image-zoom image-overlay-dark" 
                                style="background-image: url(/Themes/MukeraCleanTheme/Content/images/homepage-promo-pictures/Lectures-and-Presentations.png)">
                        </div>
                        <div class="caption text-white" data-swiper-parallax="-100%">              
                            <div class="row align-items-center justify-content-center vh-40">
                                <div class="col text-center">
                                <h3 data-aos="fade-down"><b>Lectures and Presentations</b></h3>
                                    <hr/>
                                <a href="/speaking-service#LecturesAndPresentations"  
                                    class="btn btn-lg btn-green btn-rounded mt-2 px-5" data-aos="fade-up">Read more</a> 
                                </div>
                            </div>                            
                        </div>
                        </div>
                    </div>

                <div class="col-sm-10 col-md-12 col-lg-2 text-center">&nbsp;</div>
                <!-- item 2 -->
                <div class="col-sm-10 col-md-12 col-lg-5 text-center" data-aos="fade-left" 
                        style="margin-bottom: 5px; padding-left:0px; padding-right:0px;">
                    <div class="card card-price-1 rising" >
                        <div class="image image-zoom image-overlay-dark" 
                                style="background-image: url(/Themes/MukeraCleanTheme/Content/images/homepage-promo-pictures/Media-Apperances.png)">
                        </div>
                        <div class="caption text-white" data-swiper-parallax="-100%">    
                            <div class="row align-items-center justify-content-center vh-40">
                                <div class="col text-center">
                                <h3 data-aos="fade-down"><b>Media Apperancese</b></h3>
                                    <hr/>
                                <a href="/speaking-service#MediaApperances"  
                                    class="btn btn-lg btn-green btn-rounded mt-2 px-5" data-aos="fade-up">Read more</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Speaking end -->



<!-- News Section -->
@if (Model.NewsItems.Count > 0)
{
   <section class="bg-light text-black" style="background-color: gainsboro !important;" >
        <div class="container">

            <div class="row justify-content-center text-gray-dark text-center">
                <div class="col-12 text-center" data-aos="fade-left">  
                    <h2 style="margin-bottom: 0.5em;">
                        <b>Latest News</b>                      
                    </h2>
                </div>

                        <div class="col-md-5"></div> 
                        <div class="col-md-2 header-accent-hr-container" data-aos="fade-right">                   
                            <hr class="header-accent-hr" /> 
                        </div> 
                        <div class="col-md-5"></div> 

                <div class="col-12 text-center" data-aos="fade-right">     
                    <h4>Keep up to date with the latest news, events and developments from our plant-based team</h4>                  
                </div>
            </div>

            <div class="row justify-content-center" >

                <div class="col-12 mt-10 text-center">
                    @{
                        var fadeEffectList = new List<string>(){"fade-right", "fade-up", "fade-left"};

                        var newsItems = Model.NewsItems.ToList().Take(3);

                        <!-- item 1 -->
                        <div class="col-sm-10 col-md-12 col-lg-4" data-aos="@fadeEffectList.ElementAt(0)" style="margin-bottom: 5px; padding-left:0px; padding-right:0px;">
                            <div class="card card-price-1 rising">
                              <div class="card-body">
                                <h4 class="card-title font-weight-bold ">@newsItems.ElementAt(0).Title</h4>
                                  <hr/>
                        <img src="~/Themes/MukeraCleanTheme/Content/images/homepage-promo-pictures/News-Entry-One-2.png" style="width:100%; height:auto;"/>
                                    <span class="news-date">@newsItems.ElementAt(0).CreatedOn.ToString("D")</span>                              
                                    <p> @Html.Raw(@newsItems.ElementAt(0).Short)</p>
                              </div>
                              <div class="card-footer">
                                  <hr/>
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = @newsItems.ElementAt(0).SeName })"
                                     class="btn btn-lg btn-green btn-rounded px-5">Read more                                 
                                </a>
                              </div>
                            </div>
                          </div>

                        <!-- item 2 -->
                        <div class="col-sm-10 col-md-12 col-lg-4" data-aos="@fadeEffectList.ElementAt(1)" style="margin-bottom: 5px; padding-left:0px; padding-right:0px;">
                            <div class="card card-price-1 rising">
                              <div class="card-body">
                                <h4 class="card-title font-weight-bold ">@newsItems.ElementAt(1).Title</h4>
                                  <hr/>
                        <img src="~/Themes/MukeraCleanTheme/Content/images/homepage-promo-pictures/News-Entry-Two.png" style="width:100%; height:auto;"/>
                                    <span class="news-date">@newsItems.ElementAt(1).CreatedOn.ToString("D")</span>                              
                                    <p> @Html.Raw(@newsItems.ElementAt(1).Short)</p>
                              </div>
                              <div class="card-footer">
                                  <hr/>
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = @newsItems.ElementAt(1).SeName })"
                                     class="btn btn-lg btn-green btn-rounded px-5">Read more                                 
                                </a>
                              </div>
                            </div>
                          </div>

                        <!-- item 3 -->
                        <div class="col-sm-10 col-md-10 col-lg-4" data-aos="@fadeEffectList.ElementAt(2)" style="margin-bottom: 5px; padding-left:0px; padding-right:0px;">
                            <div class="card card-price-1 rising">
                              <div class="card-body">
                                <h4 class="card-title font-weight-bold ">@newsItems.ElementAt(2).Title</h4>
                                  <hr/>
                        <img src="~/Themes/MukeraCleanTheme/Content/images/homepage-promo-pictures/News-Entry-Three.png" style="width:100%; height:auto;"/>
                                    <span class="news-date">@newsItems.ElementAt(2).CreatedOn.ToString("D")</span>                              
                                    <p> @Html.Raw(@newsItems.ElementAt(2).Short)</p>
                              </div>
                              <div class="card-footer">
                                  <hr/>
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = @newsItems.ElementAt(2).SeName })"
                                     class="btn btn-lg btn-green btn-rounded px-5">Read more                                 
                                </a>
                              </div>
                            </div>
                          </div>
                    }

                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 text-dark text-lg-right" >
                    <p>&nbsp;</p>
                     <a href="@Url.RouteUrl("NewsArchive")" class="btn btn-green btn-rounded px-5">Read More News</a>
                </div>

            </div>
        </div>
    </section>
}



