@model HomepageNewsItemsModel
@if (Model.NewsItems.Count > 0)
{
   <section class="bg-light separator-top section-cover" id="newsSectonBackground">
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-12 text-center">
                     <h2 style="background-color:aliceblue; padding:0.75em;" class="btn-rounded">@T("Writings")</h2>                   
                </div>

                <div class="col-12 mt-10 text-center">
                    @{
                        var fadeEffectList = new List<string>(){"fade-right", "fade-up", "fade-left"};
                        var index = 0;

                        foreach (var item in Model.NewsItems.ToList().Take(3))
                        {
                            <div class="col-md-4" data-aos="@fadeEffectList.ElementAt(index)" style="margin-bottom: 5px;">
                            <div class="card card-price-1 rising">
                              <div class="card-body">
                                <h4 class="card-title font-weight-bold text-purple">@item.Title</h4>
                                    <span class="news-date">@item.CreatedOn.ToString("D")</span>                              
                                    <p> @Html.Raw(item.Short)</p>
                              </div>
                              <div class="card-footer">
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })"
                                     class="btn btn-lg btn-green btn-block">@T("News.MoreInfo")                                 
                                </a>
                              </div>
                            </div>
                          </div>
                            index = index + 1;
                        }
                    }

                </div>

                <div class="col-12 mt-10 text-center">
                   <div class="boxed bg-lightest p-5 text-dark">
                      <div class="row justify-content-between align-items-center text-center text-md-left">
                        <div class="col-md-9 mt-1 mt-md-">

                            <h3><strong>Read more about </strong>: <span id="typed"></span></h3>
                            <div id="typed-strings">
                                <p>plant-based nutrition.</p>
                                <p>healthy plant-based meal.</p>
                                <p>plant-based healthy meal plan.</p>
                                <p>and many more writings ...</p>
                                ...
                            </div>

                        </div>
                        <div class="col-md-3 mt-1 mt-md-0 text-lg-right">
                            <a href="@Url.RouteUrl("NewsArchive")" class="btn btn-green btn-rounded px-5">@T("Read More writings")</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}