@model BlogPostListModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
    //page class
    Html.AppendPageCssClassParts("html-blog-page");
}

<!-- blog -->
<section class="bg-gray-dark separator-top text-white" 
         style="background-image: url('../Themes/MukeraCleanTheme/Content/images/header-backgrounds/writing-page-header-backgroud.png');
        background-blend-mode: soft-light;">
    <div class="container">
        <div class="row justify-content-left" >
            <div class="col-12 text-center text-dark" 
                    style="background-color:brown; padding:1em; padding-bottom:4em; opacity:0.85; border-radius:4px;">
                    <h1><b>Writing</b></h1>
                <div class="col-lg-5"></div> <div class="col-lg-2"><hr/></div> <div class="col-lg-5"></div> 
                <div class="col-lg-12">         
                    <h3>Plant-based Nutrition <icon class="fa-circle subheadingseparator"></icon>
                    Health &amp; Wellbeing <icon class="fa-circle subheadingseparator"></icon>
                    Lifestyle <icon class="fa-circle subheadingseparator"></icon>
                    Recipes 
                    </h3>                
                </div> 
            </div>
        </div>
    </div>
</section>

<section class="bg-lighter">       
  <div class="container">
      <div class="row justify-content-center text-gray-darkest tile-content">       
        <div class="col-sm-12 col-md-6 col-lg-4" >
            <img src="../Themes/MukeraCleanTheme/Content/images/writing-page/food-and-diet.png" alt="food-and-diet" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">                        
            <h2 class="writing-top-category-header">
             Food <span class="supressed">and</span> Diet</h2>   
            <hr/>
            <p> Learn all about the five plant-food groups <icon class="fa-asterisk subheadingseparator"></icon>
                Understand the health benefits of brassicas and berries, beans and leafy greens, flaxseed, cacao and other superfoods
                <icon class="fa-asterisk subheadingseparator"></icon> Should I drink tea, or coffee? Is red wine healthy? Are avocados fattening? Is soy safe? 
            </p>
            <p class="highlighted-content">
                <icon class="fa-leaf fa-lg" style="color: #3fa802;">&nbsp;</icon>  All of your food and diet questions answered.
                <hr/>
            </p>
            <p class="text-right">             
               <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Food and diet" })" class="btn btn-cilantro btn-rounded px-5 ">Learn More</a>
            </p>
        </div>        
    </div>
  </div>
</section>

<section class="bg-lighter">       
  <div class="container">
    <div class="row justify-content-center text-darker tile-content">       
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../Themes/MukeraCleanTheme/Content/images/writing-page/nutrition.png" alt="Nutrition"/>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">                        
                <h2 class="writing-top-category-header">Nutrition</h2>   
                <hr/>
                <p>You're A to Z of plant-based nutrition <icon class="fa-asterisk subheadingseparator"></icon>
                    Basics of plant-based biochemistry <icon class="fa-asterisk subheadingseparator"></icon>
                    Highlighting the power of plant-based ‘phyto’ nutrition <icon class="fa-asterisk subheadingseparator"></icon>
                    Demonstrating the detrimental effects of animal-based nutrition <icon class="fa-asterisk subheadingseparator"></icon>
                    Addressing nutritional concerns of plant-based nutrition <icon class="fa-asterisk subheadingseparator"></icon>
                    Where do you get your "protein, calcium, B12, omega-3's etc"?                   
                   
                </p>
                <p class="highlighted-content">
                    <icon class="fa-leaf fa-lg" style="color: #3fa802;">&nbsp;</icon> All of your nutritional concerns explained. <hr/>
                </p>
                <p class="text-right">             
                    <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Nutrition" })" class="btn btn-cilantro btn-rounded px-5 ">Learn More</a>
                </p>
            </div>        
    </div>
  </div>
</section>

<section class="bg-lighter">       
  <div class="container">
      <div class="row justify-content-center text-gray-darkest tile-content">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="../Themes/MukeraCleanTheme/Content/images/writing-page/health-and-wellbeing.png" alt="Health and Welbeing"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">                        
            <h2 class="writing-top-category-header">Health <span class="supressed">and</span> Wellbeing</h2>   
            <hr/>
            <p> Highlighting the health and longevity benefits of plant-based nutrition <icon class="fa-asterisk subheadingseparator"></icon> Maintaining a healthy weight through weight loss or weight gain <icon class="fa-asterisk subheadingseparator"></icon> Reduce your risk of overweight and obesity <icon class="fa-asterisk subheadingseparator"></icon> Prevent and reverse diabetes, hypertension, cardiovascular and other metabolic disease           
            </p>
            <p class="highlighted-content">
                <icon class="fa-leaf fa-lg" style="color: #3fa802;">&nbsp;</icon>Learn the ways to living healthier for longer.
                <hr/>
            </p>
            <p class="text-right">             
               <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Health and Welbeing" })" class="btn btn-cilantro btn-rounded px-5 ">Learn More</a>
            </p>
        </div>
    </div>
  </div>
</section>

<section class="bg-lighter">       
  <div class="container">
    <div class="row justify-content-center text-darker tile-content">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../Themes/MukeraCleanTheme/Content/images/writings-life-thumbnail.png" alt="Health Professionals"/>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">                        
                <h2 class="writing-top-category-header">
                <span class="supressed">For</span> Health Professionals</h2>   
                <hr/>
                <p> Nutrition education is sparse in the current medical and healthcare profession <icon class="fa-asterisk subheadingseparator"></icon> In these articles I summarise the latest publications in plant-based nutrition from peer-reviewed journals
                 <hr/>
                </p>

            <p class="text-right">             
               <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "For Health Professionals" })" class="btn btn-cilantro btn-rounded px-5 ">Learn More</a>
            </p>
            </div>
    </div>
  </div>
</section>

<section class="bg-lighter">       
  <div class="container">
      <div class="row justify-content-center text-gray-darkest tile-content">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../Themes/MukeraCleanTheme/Content/images/writings-health.png" alt="Life Style"/>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">                        
                <h2 class="writing-top-category-header">Lifestyle</h2>
                <hr/>
                <p>Everyday plant-based living <icon class="fa-asterisk subheadingseparator"></icon>
                    Transition strategies <icon class="fa-asterisk subheadingseparator"></icon>
                    Kitchen tips and tricks <icon class="fa-asterisk subheadingseparator"></icon>
                    Feeding the family and kids <icon class="fa-asterisk subheadingseparator"></icon>
                    Fuelling plant-powered athletes <icon class="fa-asterisk subheadingseparator"></icon>
                    Eating out and on the open road <icon class="fa-asterisk subheadingseparator"></icon>
                    Eating local, organic and seasonal <icon class="fa-asterisk subheadingseparator"></icon>
                    Overcoming obstacles, bad habits and limiting beliefs <icon class="fa-asterisk subheadingseparator"></icon>
                    and much more … 
                 <hr/>
                </p>
            <p class="text-right">             
               <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Lifestyle" })" class="btn btn-cilantro btn-rounded px-5 ">Learn More</a>
            </p>
            </div>            
    </div>
  </div>
</section>

<section class="bg-lighter">       
  <div class="container">
    <div class="row justify-content-center text-darker tile-content">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../Themes/MukeraCleanTheme/Content/images/writing-page/recipes.png" alt="Recipes"/>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">                        
                <h2 class="writing-top-category-header">Recipes</h2>
                <hr/>
                <p>Daily and weekly meal plans. <icon class="fa-asterisk subheadingseparator"></icon>
                    How to plan your plate. <icon class="fa-asterisk subheadingseparator"></icon>
                    Simple everyday recipes. <icon class="fa-asterisk subheadingseparator"></icon>
                     Breakfasts and brunch. <icon class="fa-asterisk subheadingseparator"></icon>
                    Lunch and afternoon fare <icon class="fa-asterisk subheadingseparator"></icon>
                    Dinner and hearty mains <icon class="fa-asterisk subheadingseparator"></icon>
                    Desserts, sweets and healthy treats.                   
                </p>
            <p class="highlighted-content">
                <icon class="fa-leaf fa-lg" style="color: #3fa802;">&nbsp;</icon>And don’t forget to 
                <a href="@Url.RouteUrl("ContactUs")"><span style="font-weight:bold; text-decoration:underline;">submit</span></a> your favourite plant-based recipes.
                <hr/>
            </p>
            <p class="text-right">             
               <a href="@Url.RouteUrl("BlogTagBySubcategory", new { tag = "Recipes" })" class="btn btn-cilantro btn-rounded px-5 ">Learn More</a>
            </p>
            </div>        
    </div>
  </div>
</section>
<!-- / blog -->

