@model BlogPostTagSubcategoryListModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
    //page class
    Html.AppendPageCssClassParts("html-blog-page");
}

<!-- blog -->
<section class="bg-light separator-top section-cover">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 mt-10 text-center">
            <h1><b>Writing - @Model.CurrentTag</b></h1>
        </div>
    </div>
  </div>             
</section>

<section class="bg-dark separator-top section-cover">
  <div class="container">
    <div class="row justify-content-center" id="writingHeaderSection">
        <div class="col-lg-12 text-white text-left">
            <h2>@Model.CurrentTag Overview</h2>
            <hr/>

            @if(@Model.BlogPostSubCategoriesByCount.Count() > 0)
            {
                <p>
                 The top caetegroi of @Model.CurrentTag has the following @Model.BlogPostSubCategoriesByCount.Count().ToString() subcategories:
                </p> 
            }
            else
            {
                <p>
                 No writing subcategories are found for the current tag!
                </p>
            }

        </div>

    </div>
  </div>             

  <div class="container">
    <div class="row justify-content-center" id="writingsList">
        <div class="col-lg-12 text-white text-left">         
            <hr/>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            @foreach(var subcategory in Model.BlogPostSubCategoriesByCount)
            {
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <a href="@Url.RouteUrl("BlogByTagAndSubCategory", new { tag = Model.CurrentTag, subCategory = subcategory.Key  })" class="tile-content">
                        <h3>@subcategory.Key (@subcategory.Value.ToString())</h3>
                    </a>                
                </div>
            }
        </div>

    </div>
  </div>             
</section>
<!-- / blog -->

